    <div class="alert alert-primary">
edited paragraph
    </div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">A Sample</th>
        <th scope="col">Samples From Project</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><a href="/api/samples/641329" class="alert-link">641329</a></td>
        <td><a href="/api/samples/project/PRO00421" class="alert-link">PRO00421</a></td>
    </tr>
    <tr>
        <td><a href="/api/samples/638482" class="alert-link">638482</a></td>
        <td><a href="/api/samples/project/PRO00433" class="alert-link">PRO00433</a></td>
    </tr>
    <tr>
        <td><a href="/api/samples/642890" class="alert-link">642890</a></td>
        <td><a href="/api/samples/project/PRO00435" class="alert-link">PRO00435</a></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td class="alert alert-warning" colspan="2">The links in the above table access the sample and samples from project API.</td>
    </tr>
    </tfoot>
</table>
</div>
