<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <title>{{.PageTitle}}</title>
</head>
<div class="container-fluid">
<body>
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Project Name</th>
        <th scope="col">Target/Description</th>
        <th scope="col">Owner/Creator</th>
    </tr>
    </thead>
    <tbody>
{{range .ProjectList}}
<tr>
    <td><a href="/api/samples/project/{{.Name}}" class="alert-link">{{.Name}}</a></td>
    <td>{{.Target}}</td>
    <td>{{.Owner}}</td>
</tr>
        {{end}}
    </tbody>
</table>
</body>
</div>
</html>